/*Connecting google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,400;1,700&display=swap');
    /*Designed to change the background of the table*/
    .table__background {
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(119, 119, 119);
    border: 4px solid;
    border-collapse: separate;
    empty-cells: hide;
    }
    .name__form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    }
    form{
    text-align: center;
    font-size: 28px;
    padding: 30px;
    }
    
.table {
    flex-wrap: wrap;
    text-align: center;
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse; 
}
/*Media queries are CSS rules that allow you to control
the styles of elements depending on the values ​​of the technical
parameters of the devices.*/
@media (max-width:530px){
    .table {
        text-align: center;
        width: 30%;
        margin-top: 20px;
        border-collapse: collapse; 
    }
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}
.table tr td:first-child, .table tr th:first-child {
	border-left: none;
}
.table tr td:last-child, .table tr th:last-child {
	border-right: none;
}
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: 252b42;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}
._container{
    max-width:1046px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box; /*Used to change the algorithm for calculating the width and height of an element*/
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width:100%;
    max-height: 100%;
    top:0;
    left:0;
    object-fit: cover;
    /* object-fit -- Controls the use of third-party replaceable
     elements such as <img> and <video> when they 
     have a width or height, and how they are scaled*/
}
/* -------HEADER---------------------------------------------------------*/
.header{
     position: fixed;
     width:100%;
     left:0;
     top:0;
     z-index: 50;
}
.header__container{
      display: flex;
      min-height: 104px;
      align-items: center;
}
@media(max-width:479px){
    .header__container{
        min-height: 70px;
  }
}
.header__logo{
       font-size: 30px;
       color:black;
       font-weight: 700;
       font-family: 'Noto Sans', sans-serif;
}

.header__menu{
    margin:0px 0px 0px 133px;
}
@media(max-width:992px){
    .header__menu{
        margin: 0px 0px 0px 80px;
    }
}
@media(max-width:767px){
    .header__menu{
        margin: 0px 0px 0px 40px;
    }
}
@media(max-width:479px){
    .header__menu{
        margin: 0px 0px 0px 20px;
    }
}
.menu {
    padding: 5px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item:not(:last-child){
    margin: 0px 21px 0px 0px;
}
.menu__item:Hover{
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
}
.menu__link {
    color: black;
    font-weight: 600;
    font-size: 22px;
    line-height: calc(24/14*100%);
}
@media(max-width:479px){
    .menu__link {
        font-size: 18px;
    }
}
@media(max-width:767px){
    .menu__link {
        font-size: 19px;
    }
}
/*--------MAIN---------*/
.main{
     flex: 1 1 auto;
}
/*---------footer----------------*/
.summary{
    font-size: 20px;
    font-weight: 600;
}
.dtstart{
    text-decoration: none;
}
.footer {
      position: relative;
      left:0;
      bottom:0;
      width: 100%;
      background-color: rgb(15, 10, 10);
}
.footer__column{
    padding: 0px 1px;
    flex: 0 1 33.3%;
    text-align: center;
}
@media (max-width:644px){
    .footer__column{
        flex: 0 1 100%;
    }
}
.footer__body{
    display: flex;
    flex-wrap:wrap;
}
.item-footer__content{
    display: flex;
    background-color: rgb(172, 222, 255);
    flex-direction: column;
    height: 100%;
}
.item-footer__text{
    padding: 30px;
    flex:1 1 auto;
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
}
.item-footer__title{
    padding: 15px;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
    top: 10px;
}
/*---------main-block--------------*/

/*-------HEADER BLOCK--------*/
.header-block{
        text-align: center;
        letter-spacing: 0.2px;
        font-weight: 700;
        margin: 0px 0px 0px 0px;
}
.header-block__title{
      font-size: 40px;
      line-height: 142%;
      font-family: 'Noto Sans', sans-serif;
}
.header-block__title:not(:last-child){
    margin:0px 0px 15px 0px;
    padding: 30px 0px 0px 0px;
}
.main-block{
       position: relative;
}
.main-block__body{
     padding:  184px 0px 200px 0px;
     position: relative;
     z-index: 2;
     max-width: 509px;
}
@media (max-width:992px) {
    .main-block__body{
        padding: 120px 0px 191px 0px;
    }
}
.main-block__body >*:not(:last-child){
      margin: 0px 0px 35px 0px;
}
.main-block__title{
   font-size: 58px;
   line-height: calc(80/58*100%);
   font-weight: 800;
   color:black;
   font-family: 'Noto Sans', sans-serif;
}
@media (max-width:479px)
{
    .main-block__title{
        font-size: 42px;
    }

}
.main-block__text{
font-size: 27px;
line-height: 150%;
font-family: 'Noto Sans', sans-serif;
}
.main-block__text a{
    color:black;
}
.main-block__image{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top:0;
    left:0;
}
@media (max-width: 1300px){
    .main-block__image img{
        object-position: right;
        opacity: 0.93;
    }
}