@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,400;1,700&display=swap");
.ml-8px {
  margin-left: 8px;
}

.ml-16px {
  margin-left: 16px;
}

.ml-32px {
  margin-left: 32px;
}

.button-type-success {
  border: 2px solid #0f0;
}
.button-type-success > .button-title {
  color: #0f0;
}

.button-type-info {
  border: 2px solid #00f;
}
.button-type-info > .button-title {
  color: #00f;
}

.button-type-error {
  border: 2px solid red;
}
.button-type-error > .button-title {
  color: red;
}

li:nth-child(2n+1) {
  background-color: #ffff66;
}

li:nth-child(2n+2) {
  background-color: #ffffcc;
}

.item-footer__text {
  font-size: 0;
  font-size: 1;
  font-size: 1;
  font-size: 2;
  font-size: 3;
  font-size: 5;
  font-size: 8;
  font-size: 13;
  font-size: 21;
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Noto Sans", sans-serif;
}

.table__background {
  display: inline-block;
  border-radius: 5px;
  background-color: #777777;
  border: 4px solid;
  border-collapse: separate;
  empty-cells: hide;
}

.name__form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
}

form {
  text-align: center;
  font-size: 28px;
  padding: 30px;
}

.table {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-top: 20px;
  border-collapse: collapse;
}

@media (max-width: 530px) {
  .table {
    text-align: center;
    width: 30%;
    margin-top: 20px;
    border-collapse: collapse;
  }
}
.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}

.table td {
  border: 1px solid #dddddd;
  padding: 5px;
}

.table tr td:first-child, .table tr th:first-child {
  border-left: none;
}

.table tr td:last-child, .table tr th:last-child {
  border-right: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  font-size: 16px;
  color: 252b42;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1046px;
  margin: 0px auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/* -------HEADER---------------------------------------------------------*/
.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}
.header__logo {
  font-size: 30px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
}

.header__menu {
  margin: 0px 0px 0px 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}
.menu {
  padding: 5px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu__item:Hover {
  background-color: #fdfdfd;
  border-radius: 10px;
}

.menu__link {
  font-weight: 600;
  font-size: 22px;
  line-height: calc(24/14*100%);
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .menu__link {
    font-size: 19px;
  }
}
/*--------MAIN---------*/
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*---------footer----------------*/
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  border: 1px solid #000000;
  background-color: rgba(107, 195, 253, 0.822);
}

.footer__column {
  padding: 0px 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  text-align: center;
}

@media (max-width: 644px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(129, 200, 247, 0.822);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-footer__title {
  padding: 15px;
  font-size: 25px;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
  position: relative;
  top: 10px;
}

/*---------main-block--------------*/
/*-------HEADER BLOCK--------*/
.header-block {
  text-align: center;
  letter-spacing: 0.2px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}

.header-block__title {
  font-size: 40px;
  line-height: 142%;
  font-family: "Noto Sans", sans-serif;
}

.header-block__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
  padding: 30px 0px 0px 0px;
}

.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0px 200px 0px;
  position: relative;
  z-index: 2;
  max-width: 509px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0px 191px 0px;
  }
}
.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.main-block__title {
  font-size: 58px;
  line-height: calc(80/58*100%);
  font-weight: 800;
  font-family: "Noto Sans", sans-serif;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}
.main-block__text {
  font-size: 27px;
  line-height: 150%;
  font-family: "Noto Sans", sans-serif;
}

.main-block__image {
  position: absolute;
  min-height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: right;
       object-position: right;
    opacity: 0.93;
  }
}